body, html {
    margin: 0;
    overflow: hidden;
    height:100%;
}


.g-signin2 {
    padding-top: 12px;
}


@media (min-width: 0px){
    #worksheet-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 75%;
        overflow: scroll;
    }

    #wordbank-container {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        overflow: scroll;
        width: 25%;
    }
}


#worksheet-container {
    /*background-color: #FC6E51;*/
    /*text-align: center;*/
    height:100%;
}

#wordbank-container {
    height:100%;
    /*background-color: #4FC1E9;*/
    /*text-align: center;*/
}

table {
    width: 100%;
}

.worksheet-row {
    line-height: 200px;
    min-height: 200px;
    height: 200px;
}
.cell {
    height: 200px;
    width: 20%;
}

.table > tbody > tr > td {
    vertical-align: middle;
}