body, html {
    margin: 0;
    overflow: hidden;
    height:100%;
}

@media (min-width: 0px){
    #worksheet-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 75%;
        overflow: scroll;
    }

    #wordbank-container {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        overflow: scroll;
        width: 25%;
    }
}

#worksheet-container {
    background-color: #FC6E51;
    /*text-align: center;*/
    height:100%;
}

#wordbank-container {
    height:100%;
    background-color: #4FC1E9;
    /*text-align: center;*/
}